 @media (max-width: 360px) {
  .campus-description h1, .campus-description p{
        width: 360px;
        transform: scale(0.9);
    }
 }
 
 /* Base styles - Mobile-first (for screens below 576px) */


/*GENERAL ATTRIBUTES FOR ALL SCREENS ABOVE A SIZE*/


/* Hero Section */
.hero-campuses {
    height: 55vh;
    background-image: url('../assets/campuses-hero-bg-430px.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10vh;
    padding: 5px;
    
}

.hero-campuses h1 {

    font-size: 3.5rem;
    font-weight: 900;
    line-height: 0.8;
}

.hero-campuses p {
    font-size: 1.2rem;
    /* margin: 30px; */
    font-weight: 500;
}

/* Navigation Menu Section for Campuses */
.nav-menu-section {
    min-height: 35vh;
    background-image: url('../assets/campuses-nav-bg.png');
    /* background-color: #00ff48; */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(255, 255, 255);
    padding: 10px;
}

.nav-menu-section .menu-content {
    position: relative;
    z-index: 2;
    text-align: center;
    margin-top: 1rem;
}

.nav-menu-section .menu-content h2 {
    font-size: 1.8rem;
    font-weight: 800;
}

.nav-menu-section .menu-content p {
    font-size: 0.7rem;
}

.menu-buttons {
    width: 80%;
    display: block;
    /* background-color: red; */
    justify-self: center;
    /* justify-content: space-between; */
    /* padding: 10px; */
}

.menu-btn {
    display: inline-block;
    background-color: rgb(255, 255, 255);
    padding: 5px 30px;
    border-radius: 30px;
    font-size: 0.7rem;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
    color: #000;
    font-weight: 600;
    border-width: 1.4px;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
  

}

.menu-btn:hover {
    background-color: rgb(0, 0, 0);
    transform: scale(1.05);
    color: #ffffff;
    border-color: white;
    border-width: 1.5px;
}



/* Campus Section Template */
.campus-content {
    /* background-color: red; */
    background-position: center;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    background-position: center;
    text-align: center;
    align-items: center;
    justify-self: center;
    max-width: 60%;
    color: white;

}



/* Specific Campus Backgrounds */
.iimsa-campus-section {
    background-image: url('../assets/campuses-iiemsa-bg.png');
    background-size: cover;
    transition: ease-in-out 1s;

}

.iimsa-campus-section h1, .campus-contact-iiemsa{
  background-image: linear-gradient(3deg, rgba(254,0,0,1) 0%, rgba(114,1,1,1) 100%);
    padding: 20px;
    border-radius: 10px;
}

.ujapk-campus-section {
    background-image: url('../assets/campuses-ujapk-bg.png');
    background-size: cover;
    transition: ease-in-out 1s;
}

.ujapk-campus-section h1, .campus-contact-ujapk{
    background-image: linear-gradient(3deg, #000159 0%, #0002dd 100%);
      padding: 20px;
      border-radius: 10px;
  }

.ujswc-campus-section {
    background-image: url('../assets/campuses-ujswc-bg-430px.png');
    background-size: cover;
    transition: ease-in-out 1s;
}

.ujswc-campus-section h1, .campus-contact-ujswc{
    background-image: linear-gradient(3deg, #d600fe 0%, #2c00e7 100%);
      padding: 20px;
      border-radius: 10px;
  }

.wits-campus-section {
    background-image: url('../assets/campuses-wits-bg-430px.png');
    background-size: cover;
    transition: ease-in-out 1s;
}

.wits-campus-section h1, .campus-contact-wits{
    background-image: linear-gradient(3deg, #ffbf00 0%, #000154 50%);
      padding: 20px;
      border-radius: 10px;
  }

.botswana-campus-section {
    background-image: url('../assets/campuses-botswana-bg-430px.png');
    background-size: cover;
    transition: ease-in-out 1s;
}

.botswana-campus-section h1, .campus-contact-botswana{
    background-image: linear-gradient(3deg, #008a3f 0%, #00ef6e 100%);
      padding: 20px;
      border-radius: 10px;
  }
.up-campus-section {
    background-image: url('../assets/campuses-up-bg-430px.png');
    background-size: cover;
    transition: ease-in-out 1s;
}

.up-campus-section h1, .campus-contact-up{
    background-image: linear-gradient(3deg, #ca0000 0%, #0800a0  50%);
      padding: 20px;
      border-radius: 10px;
  }
/* .up-campus-section:hover,
.botswana-campus-section:hover,
.wits-campus-section:hover,
.iimsa-campus-section:hover,
.ujswc-campus-section:hover,
.ujapk-campus-section:hover {
    transform: scale(1.01);
    transition: ease-in-out 1s;
} */
.campus-contact{
    font-weight: 600;
    }

.campus-description h1 {
    font-size: 4rem;
    font-weight: 900;
    line-height: 0.9;
}

.campus-description h2 {
    font-size: 2rem;
    font-weight: 900;
}

.campus-purpose {
    font-size: 1rem;
    line-height: 1.5;
    max-width: 600px;
}

.contact-info {
    font-size: 1rem;
    margin-top: 10px;
    font-weight: 600;
}

.black-seperate{
    height: 10vh;
    background-color: #ffffff;
}


/*

GENERAL FOR 576+ px

*/
@media (min-width: 576px){


  
  
}

/*

GENERAL FOR 768px+ px

*/

@media (min-width: 768px){


}

/*

GENERAL FOR 992px+ px

*/

@media (min-width: 992px) {
    .hero-campuses h1, .hero-campuses p, .campus-contact{
        display: none;
    }
    .campus-description h1{
        background-image: none;
        padding: 0;
    }

    .campus-content{
        justify-self: left;
        padding: 20px;
    
    }

    .iimsa-campus-section {
        background-image: url('../assets/campuses-iiemsa-bg.png');
        background-size: cover;
        transition: ease-in-out 1s;
    }
    
    .ujapk-campus-section {
        background-image: url('../assets/campuses-ujapk-bg-992px.png');
        background-size: cover;
        transition: ease-in-out 1s;
    }
    
    .ujswc-campus-section {
        background-image: url('../assets/campuses-ujswc-bg-992px.png');
        background-size: cover;
        transition: ease-in-out 1s;
    }
    
    .wits-campus-section {
        background-image: url('../assets/campuses-wits-bg-992px.png');
        background-size: cover;
        transition: ease-in-out 1s;
    }
    
    .botswana-campus-section {
        background-image: url('../assets/campuses-botswana-bg-992px.png');
        background-size: cover;
        transition: ease-in-out 1s;
    }
    .up-campus-section {
        background-image: url('../assets/campuses-up-bg-992px.png');
        background-size: cover;
        transition: ease-in-out 1s;
    }
    

}

/* Media Query for Small Screens */
@media (min-width: 576px) and (max-width: 767.98px) {

 
}

/* Large screens (standard desktops) */
@media (min-width: 992px) and (max-width: 1199.98px) {
.hero-campuses{
    background-image: url('../assets/campuses-hero-bg-992px.png');

}



}

/* Extra large screens (large desktops) */
@media (min-width: 1200px) {
   
    .hero-campuses{
        background-image: url('../assets/campuses-hero-bg-1200px.png');
    
    }
    
}