
 /* Base styles - Mobile-first (for screens below 576px) */


/*GENERAL ATTRIBUTES FOR ALL SCREENS ABOVE A SIZE*/

/* Hero Section */
/* .whats-new-section{
    background-color: red;
} */


.hero {
    min-height:100vh;
    background-image: url('../assets/store-hero-bg-430px.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    margin-top: 10vh;
}

.hero-content{
    padding-top: 10rem;
    /* background-color: red; */
  
}

.hero-content h1 {
    font-size: 3rem;
    font-weight: 900; /* Thickest Montserrat font */
    text-transform: uppercase;
margin: unset;

text-shadow: 3px 3px 6px rgba(0, 0, 0, 1);

  

}

.hero-content h1, .hero-content p {
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 1);
}

.hero-content p {
    font-size: 1.1rem;
    margin-top: 10px;
}

/* Sticky Menu Bar */
.menu-bar {
    display: flex;
    justify-content: space-around;
    background-color: white;
    position: sticky;
    top: 0;
    padding: 15px 0;
    border-bottom: 2px solid #f1f1f1;
    z-index: 1000;
    align-items: center;
    height: 10vh;
}

.menu-bar a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 0.7rem;
}

.menu-bar a:hover {
    color: #ffcc00; /* Highlight color on hover */
}

/* What's New Section */
.whats-new-section {
    min-height: 100vh;
    background-image: url('../assets/store-whatsnew-bg-430px.png');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 50px 20px;
    position: relative;
    transition: ease-in-out 1s;
}

.whats-new-section:hover {
    transform: scale(1.01);
    transition: ease-in-out 1s;
}



/* Ensures the text fits properly inside the red area */
.whats-new-banner h2 {
    font-size: 3rem;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 0;
    z-index: 2;
    transform: rotate(0deg); /* No rotation needed */
}

/* Rest of the What's New Section */
/* .new-release {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;    position: relative;
} */

.seperation-white{
    background-color: rgb(0, 0, 0);
    height: 5vh;
  

}

.seperation-white-alethia{
    background-color: white;
    height: 20vh;
    background-image: url('../assets/seperation-white-alethia.png');
}


/* Merch Section */
.merch-section {
    min-height: 100vh;
    background-image: url('../assets/publishing-merch-bg-430px.png');
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    overflow: hidden;
    transition: ease-in-out 1s;

    display: flex;
    position: relative;
    /* background-color: #ffcc00; */
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
     height: 100%;
     padding: 4rem;
}

.merch-section:hover {
    transform: scale(1.01);
    transition: ease-in-out 1s;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgba(0, 0, 255, 0.8), transparent);
    z-index: 1;
}





.text-content {
    color: white;
    text-align: center; /* Align text to the right */
    max-width: 500px;
    margin-right: 200px; /* Pushes the text to the right */
    align-items: center;
    align-content: center;
}

.text-content h1 {
    font-size: 90px; /* Larger font size */
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 5px; /* Reduce the gap between heading and paragraph */
    line-height: 0.8; /* Reduce line height for tighter spacing */
}
.text-content p {
    font-size: 1.5rem;
    margin: 10px 0 30px;
}

.buttons {
    display: flex;
    gap: 10px;
    align-self: center;
}

.btn {
    padding: 15px 30px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: none;
    transition: 0.3s ease;
}

.white-btn {
    background-color: white;
    color: black;
}

.white-btn:hover {
    background-color: black;
    color: white;
}

.yellow-btn {
    background-color: yellow;
    color: black;
}

.yellow-btn:hover {
    background-color: black;
    color: yellow;
}

/* People Image */
.merch-people {
    position: absolute;
    bottom: 0;
    left: 0; /* Make sure the image starts right at the left border */
    max-width: 35%; /* Set the width to around 35% */
    z-index: 2;
    transition: transform 0.3s ease-in-out;
    margin: 0; /* Ensure there's no margin */
    padding: 0; /* Ensure there's no padding */
}
.material-section {
    padding: 40px 20px;
    text-align: center;
    background-color: #f5f5f5;
    min-height: 100vh;
}

.material-content h1 {
    font-size: 2.5rem;
   /* margin-top: 2rem; */
    font-weight: 900;
    color: #333;
}

.material-content p {
    font-size: 0.9rem;
    color: #666;
    /* margin-bottom: px; */
}

.material-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;
}

.material-item {
    position: relative;
    width: 10rem;
    text-align: center;
    transition: transform 0.3s;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    size: 2rem;
    align-items: center;
    margin-top: 2rem;
    flex-direction: column; /* Arrange content vertically */
    justify-content: space-between; /* Space out the content */
}

.material-item:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.material-item img {
    width: 100%;
    height: auto;
    display: block;
    border-bottom: 1px solid #ddd;
}

.material-item p {
    font-size: 0.6rem;
    font-weight: 600;
    color: #333;
    padding: 5px;
}

.download-btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 0, 0, 0);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-decoration: none;
}

.material-item:hover .download-btn {
    opacity: 1;
}

.download-btn {
    background-color: #ffbf00;
    color: rgb(0, 0, 0);
    /* padding: 10px 20px; */
    text-decoration: none;
    border-radius: 5px;
    height: 5vh;

}

.download-btn:hover {
    background-color: #ffbf00;
}




.whats-new-section{
    display: flex;
    position: relative;
    /* background-color: #ffcc00; */
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;

    
}

/* Pub Button Styling */
.get-yours-button {
    padding: 8px 24px; /* Decrease padding for a smaller button */
    font-size: 0.9rem; /* Slightly smaller font size */
    background-color: white;
    border: 1.5px solid white;
    color: #000000;
    border-radius: 50px; /* Rounded corners */
    cursor: pointer;
    font-weight: 800;
    text-transform: uppercase;
    transition: all 0.3s ease; /* Add transition for hover effect */
    position: relative;
    white-space: nowrap;
  margin-right: 1rem;
  }
  
  .get-yours-button:hover {

    background-color: #0d0d0d;
    color: #ffffff;
    transform: scale(1.05); /* Very slight increase in size on hover */
}

.view-catalog-button {
    padding: 8px 24px; /* Decrease padding for a smaller button */
    font-size: 0.9rem; /* Slightly smaller font size */
    background-color: white;
    border: 1.5px solid white;
    color: #000000;
    border-radius: 50px; /* Rounded corners */
    cursor: pointer;
    font-weight: 800;
    text-transform: uppercase;
    transition: all 0.3s ease; /* Add transition for hover effect */
    position: relative;
    white-space: nowrap;
  margin-right: 1rem;
  }
  
  .view-catalog-button:hover {

    background-color: #0d0d0d;
    color: #ffffff;
    transform: scale(1.05); /* Very slight increase in size on hover */
}



/*

GENERAL FOR 576+ px

*/
@media (min-width: 576px){



}

/*

GENERAL FOR 768px+ px

*/

@media (min-width: 768px){

    .hero-content h1{
        /* min-height:50vh; */
        /* background-image: url('../assets/store-hero-bg-768px.png'); */
  
            font-size: 4rem;
    }
    
    .whats-new-section {
        /* min-height: 100vh; */
        /* background-image: url('../assets/store-whatsnew-bg-768px.png'); */
    }

}

/*

GENERAL FOR 992px+ px

*/

@media (min-width: 360px) and (max-width: 576px) {

    .whats-new-section {
        min-height: 80vh;
        background-image: url('../assets/store-whatsnew-bg-430px.png');
    }    
  
    .merch-section{

        background-image: url('../assets/publishing-merch-bg-360px.png');
background-position: center;
background-size: cover;

    }
    
 .view-catalog-button{
    margin-right: 4rem;
 }

}

/* Media Query for Small Screens */
@media (min-width: 576px) and (max-width: 767.98px) {
    .whats-new-section {
        background-image: url('../assets/store-whatsnew-bg-560px.png');
    }

    .merch-section{
        background-image: url('../assets/publishing-merch-bg-360px.png');

    }

  
 
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .whats-new-section {
        background-image: url('../assets/store-whatsnew-bg-560px.png');
    }
  
    .merch-section{
        background-image: url('../assets/publishing-merch-bg-992px.png');

    }

}




/* Large screens (standard desktops) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .whats-new-section {
        background-image: url('../assets/store-whatsnew-bg-1200px.png');
    }

    .merch-section{
        background-image: url('../assets/publishing-merch-bg-992px.png');

    }

}

/* Extra large screens (large desktops) */
@media (min-width: 1200px) {

    .hero {
        /* min-height:50vh; */
        /* background-image: url('../assets/store-hero-bg-1200px.png'); */
    }

    .whats-new-section {
        min-height: 100vh;
        background-image: url('../assets/store-whatsnew-bg-1200px.png');
    }

    .merch-section{
        background-image: url('../assets/publishing-merch-bg-1200px.png');

    }

    
}