<footer class="footer">
    
    <div class="footer-container">
        <!-- Contact Information and Links -->
        <div class="footer-section">
            <h2>Sunday Service</h2>
            <p><strong>Time:</strong> 10:00-12:30</p>
            <p><strong>Location:</strong> Corner Kingsway and University Road, Auckland Park, Johannesburg, 2092</p>
            
            <h2>Contact Us</h2>
       
            <p><strong>Phone:</strong> <a href="tel:+27788506933">+27 78 850 6933</a></p>
            <p><strong>Email:</strong> <a href="mailto:info@heavensloveglobal.org">info@heavensloveglobal.org</a></p>
        </div>

        <!-- Social Media Links -->
        <div class="footer-section">
            <h2>Follow Us</h2>
            <div class="footer-social-icons">
                <a href="https://www.instagram.com/heavenslove.global/" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
                <a href="https://www.facebook.com/heavenslove.global" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.youtube.com/@heavenslove.global" aria-label="YouTube"><i class="fab fa-youtube"></i></a>
            </div>
        </div>

        <!-- Map Embed -->
        <div class="footer-section footer-map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11374.054127225446!2d28.000584660389133!3d-26.19195054704314!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e950c68c03b8e87%3A0xf36627823c90fa5b!2sKingsway%20and%20University%20Rd%2C%20Auckland%20Park%2C%20Johannesburg%2C%202092!5e0!3m2!1sen!2sza!4v1694517323442!5m2!1sen!2sza"
                width="100%" height="150" frameborder="0" style="border:0;" allowfullscreen loading="lazy">
            </iframe>
        </div>
    </div>

    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <p>&copy; 2024 Heavens Love Global. All Rights Reserved.</p>
    </div>
</footer>
