<link rel="stylesheet" href="css/navbar.css">
<link rel="stylesheet" href="css/landingpage.css">

<header class="navbar">
  <div class="navbar-container">
    <div class="logo-container">
      <a href="index.html">
        <img src="assets/HLGLOGO.svg" alt="Heavens Love Global" class="logo">
      </a>
      <a href="index.html">
        <span class="site-title">HEAVENS LOVE GLOBAL.</span>
      </a>

      <a href="index.html">
        <span class="site-title1">HEAVENS LOVE.</span>
      </a>
    </div>

    <!-- Navbar Links (Desktop View) -->
    <nav class="nav-links" id="nav-links">
      <ul>
        <li><a href="index.html#next-steps">Next Steps</a></li>
        <li><a href="index.html#whats-on">What's On</a></li>
        <li><a href="index.html#campuses">Campuses</a></li>
        <li><a href="index.html#giving-section">Give Now</a></li>
        <li><a href="publishing.html">Store</a></li>
        <li><a href="about.html">About Us</a></li>
        <li><a href="index.html#footer-placeholder">Connect</a></li>
      </ul>
    </nav>

    <div class="navbar-follow-us">
        <a href="#footer-placeholder"><span>FOLLOW US</span></a>
    </div>

    <!-- Social Icons (Desktop View) -->
    <div class="social-icons">
      <a href="https://www.instagram.com/heavenslove.global/"><i class="fab fa-instagram"></i></a>
      <a href="https://www.facebook.com/heavenslove.global"><i class="fab fa-facebook-f"></i></a>
      <a href="https://www.youtube.com/@heavenslove.global"><i class="fab fa-youtube"></i></a>
      <a href="https://www.tiktok.com/@heavenslove.global"><i class="fab fa-tiktok"></i></a>

    </div>

    <!-- Hamburger Menu Icon (Mobile View) -->
    <div class="hamburger-menu" id="hamburger-menu">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <!-- Mobile Menu Overlay -->
  <div class="mobile-menu" id="mobile-menu">
    <ul>
      <li><a href="index.html#next-steps">Next Steps</a></li>
      <li><a href="index.html#whats-on">What's On</a></li>
      <li><a href="index.html#campuses">Campuses</a></li>
      <li><a href="index.html#giving-section">Give Now</a></li>
      <li><a href="publishing.html">Store</a></li>
      <li><a href="about.html">About Us</a></li>
      <li><a href="index.html#footer-placeholder">Connect</a></li>
    </ul>
    <div class="social-icons">
      <a href="https://www.instagram.com/heavenslove.global/"><i class="fab fa-instagram"></i></a>
      <a href="https://www.facebook.com/heavenslove.global"><i class="fab fa-facebook-f"></i></a>
      <a href="https://www.youtube.com/@heavenslove.global"><i class="fab fa-youtube"></i></a>
      <a href="https://www.tiktok.com/@heavenslove.global"><i class="fab fa-tiktok"></i></a>

    </div>
  </div>
</header>
<script src="scripts/navbar.js"></script>